USE [master]
GO
/****** Object:  Database [Tutorialapp]    Script Date: 8/2/2019 5:25:04 PM ******/
CREATE DATABASE [Tutorialapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tutorialapp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tutorialapp.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tutorialapp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tutorialapp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tutorialapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tutorialapp]
GO
/****** Object:  Table [dbo].[Coursepost]    Script Date: 8/2/2019 5:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Coursepost](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Sort_Desc] [varchar](500) NULL,
	[Full_Desc] [varchar](max) NULL,
	[Image] [varchar](500) NULL,
	[Author] [varchar](250) NULL,
	[EnteredDate] [datetime] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_Coursepost] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employeemaster]    Script Date: 8/2/2019 5:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employeemaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NULL,
	[LastName] [varchar](150) NULL,
	[EmailId] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[EnteredDate] [datetime] NULL,
	[IsActive] [int] NULL CONSTRAINT [DF_Employeemaster_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_Employeemaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Coursepost] ADD  CONSTRAINT [DF_Coursepost_EnteredDate]  DEFAULT (getdate()) FOR [EnteredDate]
GO
ALTER TABLE [dbo].[Coursepost] ADD  CONSTRAINT [DF_Coursepost_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
USE [master]
GO
